
.margincustom{
    margin: auto;
    background-color: rgb(21, 13, 43);
}

.per-shift{
    color: blueviolet;
    font-weight: 800;
    font-size: 20px;
    margin-top: 2px;
}
.text-t{
    color: red;
    text-align: right !important;
    display: flex;
    
}
.curent{
    margin-right: 0px;
    position: relative;
   
}
.preforms{
    /* display: flex;
    justify-content: center; */
    position: sticky;
    top: 0;
   
}
/* .per-shift{
position: sticky;
top: 0px;
} */